* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #123a4e;
    &-list {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        list-style: none;
        &__item {
            &-link {
                display: block;
                padding: 1rem;
                color: #fff;
                text-decoration: none;
                &--active,
                &:hover {
                    background: #979bfb;
                }
            }
        }
    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    &-1 {
        height: 100vh;
        color: #15455e;
        background: #e7eafa;
    }
    &-2 {
        height: 80vh;
        background: #a7879d;
    }
    &-3 {
        height: 60vh;
        background: #9ba2bd;
    }
    &-4 {
        height: 60vh;
        background: #c5477e;
    }
    &-5 {
        height: 80vh;
        background: #123a4e;
    }
}